.nav-links__list {
  display: flex;
  gap: var(--gap-3);
  align-items: center;
}

.nav-links__link {
  font-size: var(--step-0);
  color: var(--text-muted);
}

.nav-links__link:hover {
  color: var(--text);
}

@media (max-width: 860px) {
  .nav-links {
    display: none;
  }
}
