.row {
  display: flex;
  flex-direction: row;
  flex-wrap: var(--flex-wrap, nowrap);
}

.col {
  display: flex;
  flex-direction: column;
}

.col>* {
  flex-grow: var(--flex-grow, 0);
}

.row.grow>*,
.col.grow>* {
  flex-grow: 1;
}