.row {
  display: flex;
  flex-direction: row;
  flex-wrap: var(--flex-wrap, nowrap);
  gap: var(--flex-gap, 8px);
  align-items: var(--flex-align, stretch);
  justify-content: var(--flex-justify, flex-start);
}

.col {
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap, 8px);
  align-items: var(--flex-align, stretch);
  justify-content: var(--flex-justify, flex-start);
}

.col>* {
  flex-grow: var(--flex-grow, 0);
}

.row.grow>*,
.col.grow>* {
  flex-grow: 1;
}
